<div class="app">
  <app-header></app-header>
  <div class="projects container">
    <div class="filters row">
      <div
        aria-label="Filter Group"
        role="group"
        class="w-100 btn-group btn-group-toggle"
      >
        <label class="btn btn-primary"
          ><input
            name="filters"
            type="radio"
            autocomplete="off"
            value="[object Object]"
          />ALL<span class="ml-2 badge badge-light">91</span></label
        ><label class="btn btn-secondary"
          ><input
            name="filters"
            type="radio"
            autocomplete="off"
            value="[object Object]"
          />Programming<span class="ml-2 badge badge-light">49</span></label
        ><label class="btn btn-secondary"
          ><input
            name="filters"
            type="radio"
            autocomplete="off"
            value="[object Object]"
          />E-learning<span class="ml-2 badge badge-light">46</span></label
        ><label class="btn btn-secondary"
          ><input
            name="filters"
            type="radio"
            autocomplete="off"
            value="[object Object]"
          />Design<span class="ml-2 badge badge-light">17</span></label
        >
      </div>
    </div>
    <div
      *ngFor="let project of this.projects; let i = index"
      class="react-reveal row project"
      [class.flex-row-reverse]="i % 2"
    >
      <div class="col-md-6 text-center d-flex align-items-center info child">
        <div>
          <h5>{{ project.title[0].value }}</h5>
          <div class="text-muted">
            <p>
              {{ project.body[0].value }}
            </p>
            <p *ngIf="project.field_link.length">
              <a
                [href]="project.field_link[0].uri"
                target="_blank"
                rel="noopener noreferrer"
                ><button type="button" class="btn btn-dark">Launch</button></a
              >
            </p>
          </div>
          <div
            class="thumb"
            [style.backgroundImage]="'url(' + project.field_image[0].url + ')'"
          ></div>
        </div>
      </div>
      <div
        class="col-md-6 full child"
        [style.backgroundImage]="'url(' + project.field_image[0].url + ')'"
      ></div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
